<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Library Book Status Checker</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=page>
  <h1><a href="{{ url_for('show_entries')}}">Library Book Status Checker</a></h1>
  <div class="metanav">
  <span class="nav-left"><a href="{{ url_for('show_entries') }}">Books to Read</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ url_for('show_read_entries') }}">Completed Books</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ url_for('show_statuses') }}">All Statuses</a></span>
  <span>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Log In</a>
  {% else %}
    <a href="{{ url_for('logout') }}">Log Out</a>
  {% endif %}
  </span>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>